/* css variables  */
:root {
    --primary-font: "Roboto", system-ui;
    --secondary-font: "Creepster", system-ui;
    --text-color-dark: black;
    --text-color-light: white;
    --main-light: #FAEAE0;
    --main-dark: #02020B;
    --secondary-light: #FAD2BD;
    --secondary-dark: #2E382E;
    --accent-color: #F26419;
    --contrast-color: #90708C;
    --pop-color: #87A330;
}


body {
    background-color: var(--main-light);
    font-family: sans-serif;
    color: var(--text-color-dark);
}

h1 {
    color: var(--accent-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

#navbar {
    background-color: var(--main-dark);
    padding: 1rem;
    font-family: "Creepster", system-ui;
}

#profile-link {
  float: right;
}

#home-link {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: right;
}

#logo {
    height: 50px;
}


nav {
    padding: 1rem;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 2rem;
    margin-right: 1rem;
}
nav a:hover {
    color: var(--pop-color);
    text-decoration: underline;
    font-weight: bold;
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--main-dark);
    color: var(--pop-color);
    text-align: center;
    padding: 1rem;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

footer p {
    margin: 10px;
    float: left;
    font-size: 0.9rem;
}

.footer-center {
    margin: 10px;
    float: left;
}

#newsletter {
    margin: 10px;
    float: right;
}

footer a {
    color: #87A330;
}

footer a:hover {
    color: var(--main-light);
    text-decoration: underline;
}
